@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@theme {
  --color-primary: #5F6FFF;
}
/* hide scrollbar but allow scroll */
.scrollbar-hide {
  -ms-overflow-style: none;   /* IE & Edge */
  scrollbar-width: none;      /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;              /* Chrome, Safari */
}
body{
  font-family: "Outfit", sans-serif;
}